<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Student</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center;">
    <form #form="ngForm" (ngSubmit)="addStudent(form)" ngNativeValidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="name" id="name" required class="form-control" placeholder="Name">
        <label for="email">Email</label>
        <input type="email" name="email" [(ngModel)]="email" id="email" required class="form-control"
          placeholder="Email">
        <label for="phone">Phone</label>
        <input type="tel" name="phone" [(ngModel)]="phone" id="phone" required class="form-control" placeholder="Phone">

        <button type="submit" style="margin-top: 15px; width: 100%" class="btn btn-outline-primary">Save</button>
      </div>
    </form>
  </div>

</ng-template>

<ng-template #edit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Student</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="text-align: center;">
      <form #form="ngForm" (ngSubmit)="updateStudent(form)" ngNativeValidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" [(ngModel)]="Student.name" id="name" required class="form-control" placeholder="Name">
          <label for="email">Email</label>
          <input type="email" name="email" [(ngModel)]="Student.email" id="email" required class="form-control" placeholder="Email">
          <label for="phone">Phone</label>
          <input type="tel" name="phone" [(ngModel)]="Student.phone" id="phone" required class="form-control" placeholder="Phone">
          
          <button type="submit" style="margin-top: 15px; width: 100%" class="btn btn-outline-primary">Edit</button>
        </div>
      </form>
    </div>

</ng-template>


<nav class="navbar navbar-dark bg-dark" style="margin-bottom: 50px;">
  <a class="navbar-brand" routerLink="/admin">
    <img src="./../../assets/angular2.png" width="30" height="30" alt="">
    Angular
  </a>
  <button class="btn btn-info" title="Sign Out" style="color:white;" (click)="closeSession()"><i class="fas fa-sign-out-alt"></i></button>
</nav>

<div class="container" style="text-align: center;">
  <button class="btn btn-primary" (click)="open(content)" title="Add User" style="margin-bottom: 40px; width: 100%;"><i
      class="fas fa-user-plus"></i></button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students;">
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.phone}}</td>
        <td><button class="btn btn-secondary" (click)="open(edit)" (click)="onEdit(student.id)"><i class="fas fa-user-edit" title="Edit User"></i></button> <button
            title="Delete User" (click)="deleteStudent(student.id)" class="btn btn-danger"><i
              class="fas fa-user-minus"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>